
a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    font-family: Arial;
    font-size: 25px;
    margin-left: 20px;
}
a:hover {
    color: blue;
    text-decoration: underline;
    transition: all 0.5s;
}
button {
    background-color: none;
    transition: all 0.2s;
    position: absolute;
    right: 20px;
    margin-top: 0px;
}
button:hover {
    padding: 10px;
    transition: all 0.2s;
}
nav ul {
    margin-right: none;
    float: left;
}
nav {
    width: 100%;
    height: 50px;
    border: 2px solid black;
}
nav ul li {
    padding: 10px;
    font-size: 5px;
    display: inline;
}
button:hover {
    cursor: pointer;
}
nav ul li input{
    position: absolute;
    right: 20px;
}